@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --roxo: #8122ff;
  --roxo2: #862aff;
  --gray: #1d1d1f;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f9fb;
  .white-bar {
    width: 100%;
    height: 30px;
    background-color: white;
    padding: 5px 25px;
    position: fixed;
    top: 0;

    z-index: 999;
    .white-bar_icons {
      cursor: pointer;
      width: fit-content;
      &:hover {
        > i {
          animation: salto 1s infinite;

          &.meio {
            animation-delay: 0.2s;
          }
          &:last-child {
            animation-delay: 0.4s;
          }
        }
      }
      i {
        font-size: 8px;
      }
    }
  }

  header {
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    background-color: var(--roxo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    margin-top: 30px;
    z-index: 999;
    .header-logo {
      display: flex;
      align-items: center;
      i {
        font-size: 35px;
        margin-right: 5px;
        color: white;
      }
      a {
        font-weight: 500;
        color: rgb(255, 255, 255);
      }
    }
    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      li {
        a {
          margin: 0 17px;
          color: rgb(255, 255, 255);
          &:hover {
            text-decoration: underline !important;
          }
        }
        i {
          font-size: 25px;
        }
      }
    }
  }
  main {
    #container-welcome {
      width: 100%;
      min-height: 250px;
      background-color: var(--roxo2);
      position: relative;
      margin: 110px 0 60px 0;
      padding: 0 75px;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      color: white;

      h1 {
        font-family: "Roboto Mono", monospace;
        font-size: 60px;
        font-weight: 300;
      }
      p {
        font-size: 17px;
        line-height: 30px;
        span {
          font-weight: 600;
        }
      }
    }

    #projects {
      color: var(--gray);
      padding: 20px 0;
      font-family: "Roboto Mono", monospace;

      h1 {
        font-size: 50px;
        font-weight: 300;
        color: var(--gray);;
        padding-left: 50px;
      }

      .projetos-cards {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        justify-content: center;
        margin-left: 50px;
        .card-projeto {
          width: 300px;
          height: 300px;
          margin: 30px 15px;
          position: relative;
          background-color: #f2e9ff;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          padding: 15px;
          transition: .4s ease transform;
          overflow: hidden;
         
          &:hover{
              cursor: pointer;
              transform: translateY(-5px);
              box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);
          }
          &.html{
            color: white !important;
            background-color: var(--roxo2);
            &> .categoria-projeto {
              border: 1px solid white;
            }
            &> .nome-projeto h4{
              color: white;
            }

          }
          &.scss{
            color: white !important;
            background-color: #004586;
            &> .categoria-projeto {
              border: 1px solid white;
            }
            &> .nome-projeto h4{
              color: white;
            }

          }

          &.css{
            color: white !important;
            background-color: #00d38d;
            &> .categoria-projeto {
              border: 1px solid white;
            }
            &> .nome-projeto h4{
              color: white;
            }

          }

          &.js{
            color: white !important;
            background-color: #c7ca00;
            &> .categoria-projeto {
              border: 1px solid white;
            }
            &> .nome-projeto h4{
              color: white;
            }

          }
          &.primeiro {
            background-color: var(--gray);
            color: white;
            width: 660px;
            border-radius: 15px;
            h4 {
               
                color:white;
              }
            .categoria-projeto {
                border: 2px solid rgb(255, 255, 255);
                border-radius: 10px;
              }
              .descricao-projeto {
                font-size: 16px;
              
              }
          }
          .categoria-projeto {
            width: fit-content;
            margin: 5px;
            padding: 5px 10px;
            border: 1px solid var(--gray);
            border-radius: 10px;
          }
          h4 {
            font-size: 24px;
            margin-top: 25px;
            color: var(--gray);
            text-overflow: ellipsis;
          }

          .descricao-projeto {
            font-size: 14px;
            position: absolute;
            bottom: 20px;


            a{
                position: relative;
               width: fit-content;
                font-size: 25px;
                left: 90%;
                color: black;
            }
          }
        }
      }
    }
  }
}

@keyframes salto {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}


@media (max-width: 320px) {
}

@media (max-width: 375px) {
}
@media (max-width: 425px) {

}
@media (max-width: 657px) {

    body main #projects .projetos-cards .card-projeto {
        width: 100%;
    }
}

@media (max-width: 768px) {
    body main #container-welcome {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
        p{
            font-size: 14px;
        }
    }
}

@media (max-width: 1024px) {
  body main #projects .projetos-cards {
    margin-left: 0;
  }
}

@media (max-width: 1440px) {
}

@media (max-width: 1920px) {
}