@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor1: #242424;
  --cor2: #202020;
  --ltwhite: white;
  --gray: #1d1d1f;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f9fb;
}
body .white-bar {
  width: 100%;
  height: 30px;
  background-color: white;
  padding: 5px 25px;
  position: fixed;
  top: 0;
  z-index: 999;
}
body .white-bar .white-bar_icons {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body .white-bar .white-bar_icons:hover > i {
  -webkit-animation: salto 1s infinite;
          animation: salto 1s infinite;
}
body .white-bar .white-bar_icons:hover > i.meio {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
body .white-bar .white-bar_icons:hover > i:last-child {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
body .white-bar .white-bar_icons i {
  font-size: 8px;
}
body header {
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  background-color: var(--cor1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  margin-top: 30px;
  z-index: 999;
}
body header .header-logo {
  display: flex;
  align-items: center;
}
body header .header-logo i {
  font-size: 35px;
  margin-right: 5px;
  color: white;
}
body header .header-logo a {
  font-weight: 500;
  color: white;
}
body header #hamburguer {
  display: none;
  color: white;
  font-size: 25px;
}
body header #close {
  display: none;
}
body header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  transition: 0.5s ease transform;
}
body header ul li a {
  margin: 0 17px;
  color: white;
}
body header ul li a:hover {
  text-decoration: underline !important;
}
body header ul li i {
  font-size: 25px;
}
body main .title-section {
  font-family: "Roboto Mono", monospace;
  font-size: min(9vw, 50px);
  font-weight: 300;
  color: var(--gray);
  padding-left: 50px;
}
body main #container-welcome {
  width: 100%;
  min-height: 250px;
  background-color: var(--cor2);
  position: relative;
  margin: 110px 0 60px 0;
  padding: 0 75px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  color: white;
}
body main #container-welcome h1 {
  font-size: 60px;
  font-weight: 300;
}
body main #container-welcome p {
  font-size: 17px;
  line-height: 30px;
}
body main #container-welcome p span {
  font-weight: 600;
}
body main #projects {
  color: var(--gray);
  padding: 20px 0;
  font-family: "Roboto Mono", monospace;
}
body main #projects .projetos-cards {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
  margin-left: 50px;
}
body main #projects .projetos-cards .card-projeto {
  width: 300px;
  height: 300px;
  margin: 30px 15px;
  position: relative;
  background-color: #f2e9ff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  transition: 0.4s ease transform;
  overflow: hidden;
}
body main #projects .projetos-cards .card-projeto:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);
}
body main #projects .projetos-cards .card-projeto.html {
  color: var(--ltwhite) !important;
  background-color: var(--cor1);
}
body main #projects .projetos-cards .card-projeto.html > .categoria-projeto {
  border: 1px solid white;
}
body main #projects .projetos-cards .card-projeto.html > .nome-projeto h4 {
  color: white;
}
body main #projects .projetos-cards .card-projeto.scss {
  color: var(--ltwhite) !important;
  background-color: var(--cor1);
}
body main #projects .projetos-cards .card-projeto.scss > .categoria-projeto {
  border: 1px solid white;
}
body main #projects .projetos-cards .card-projeto.scss > .nome-projeto h4 {
  color: white;
}
body main #projects .projetos-cards .card-projeto.css {
  color: var(--ltwhite) !important;
  background-color: var(--cor1);
}
body main #projects .projetos-cards .card-projeto.css > .categoria-projeto {
  border: 1px solid white;
}
body main #projects .projetos-cards .card-projeto.css > .nome-projeto h4 {
  color: white;
}
body main #projects .projetos-cards .card-projeto.js {
  color: var(--ltwhite) !important;
  background-color: var(--cor1);
}
body main #projects .projetos-cards .card-projeto.js > .categoria-projeto {
  border: 1px solid white;
}
body main #projects .projetos-cards .card-projeto.js > .nome-projeto h4 {
  color: white;
}
body main #projects .projetos-cards .card-projeto.primeiro {
  background-color: var(--gray);
  color: white;
  width: 660px;
  border-radius: 15px;
}
body main #projects .projetos-cards .card-projeto.primeiro h4 {
  color: white;
}
body main #projects .projetos-cards .card-projeto.primeiro .categoria-projeto {
  border: 2px solid white;
  border-radius: 10px;
}
body main #projects .projetos-cards .card-projeto.primeiro .descricao-projeto {
  font-size: 16px;
}
body main #projects .projetos-cards .card-projeto .categoria-projeto {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid var(--gray);
  border-radius: 10px;
}
body main #projects .projetos-cards .card-projeto h4 {
  font-size: 24px;
  margin-top: 25px;
  color: var(--gray);
  text-overflow: ellipsis;
}
body main #projects .projetos-cards .card-projeto .descricao-projeto {
  font-size: 14px;
  position: absolute;
  bottom: 20px;
}
body main #projects .projetos-cards .card-projeto .descricao-projeto a {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 25px;
  left: 90%;
  color: black;
}
body main #artigosArea {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: 50px 0;
  font-family: "Roboto Mono", monospace;
  background-color: #f9fdff !important;
}
body main #artigosArea .artigos-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 40px;
}
body main #artigosArea .artigos-box .artigo {
  width: 85%;
  color: black;
  display: flex;
  justify-content: space-around;
  padding: 30px 50px;
  margin: 30px 0;
  align-items: center;
  border-bottom: 1px solid rgba(167, 167, 167, 0.336);
  align-items: center;
}
body main #artigosArea .artigos-box .artigo:last-child {
  border-bottom: none;
}
body main #artigosArea .artigos-box .artigo .area-title-artigo {
  width: 25%;
  font-size: 20px;
}
body main #artigosArea .artigos-box .artigo .area-descricao-artigo {
  width: 100%;
  padding: 0 25px;
}
body main #artigosArea .artigos-box .artigo i {
  font-size: 35px;
}
body main #contactArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
body main #contactArea .title-section {
  padding: 0;
}
body main #contactArea .contact-box {
  max-width: 800px;
  min-width: 60%;
  min-height: 300px;
  background-color: var(--cor2);
  align-self: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  padding: 20px 0;
}
body main #contactArea .contact-box .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #contactArea .contact-box .box-redes {
  width: 50%;
  height: 100%;
  flex-direction: column;
}
body main #contactArea .contact-box .box-redes .rede i {
  font-size: 40px;
  margin: 17px;
  color: white;
}
body main #contactArea .contact-box .box-form {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 15px;
}
body main #contactArea .contact-box .box-form .fomulario-contact {
  width: 85%;
  height: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: white;
}
body main #contactArea .contact-box .box-form .fomulario-contact input {
  padding: 5px;
}
body main #contactArea .contact-box .box-form .fomulario-contact label {
  margin: 10px;
}
body main #contactArea .contact-box .box-form .fomulario-contact button {
  margin-top: 10px;
  padding: 10px 0;
}
body main #contactArea .contact-box .box-form .fomulario-contact #contact-textArea {
  min-width: 80%;
  max-width: 100%;
  height: 80px;
  resize: none;
  margin-top: 10px;
}

@-webkit-keyframes salto {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes salto {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (max-width: 375px) {
  body main #contactArea .contact-box {
    min-width: 98% !important;
  }
}
@media (max-width: 425px) {
  body main #container-welcome {
    padding: 20px 75px;
  }

  #hamburguer {
    display: block !important;
  }

  .menushow {
    transform: translateY(0px);
  }

  body header ul {
    flex-direction: column;
    position: absolute;
    background: #862aff;
    width: 100%;
    height: 100vh;
    transform: translateY(-105vh);
    top: 0;
    left: 0;
    justify-content: center;
  }
  body header ul #close {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 45px;
    margin: 10px;
    color: white;
  }
  body header ul body main #contactArea .contact-box {
    min-width: 95%;
  }

  body header ul li {
    margin: 20px 0;
    font-size: 25px;
  }

  body main #projects .projetos-cards {
    width: 100%;
  }
}
@media (max-width: 657px) {
  body main #projects .projetos-cards .card-projeto {
    width: 100%;
  }

  body main #contactArea .contact-box {
    min-width: 85%;
  }
}
@media (max-width: 768px) {
  body main #container-welcome {
    padding: 30px 0;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  body main #container-welcome p {
    font-size: 14px;
  }

  body main #artigosArea .artigos-box .artigo {
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px 0;
  }
  body main #artigosArea .artigos-box .artigo:last-child {
    border-bottom: none;
  }

  body main #artigosArea .artigos-box .artigo .area-title-artigo {
    width: 100%;
  }

  body main #artigosArea .artigos-box .artigo .area-descricao-artigo {
    margin: 17px 0;
  }

  body main .title-section {
    padding-left: 21px;
  }
}
@media (max-width: 1024px) {
  body main #projects .projetos-cards {
    margin-left: 0;
  }

  body main #artigosArea .artigos-box .artigo {
    width: 100%;
  }

  body main #contactArea .contact-box {
    flex-direction: column;
  }

  body main #contactArea .contact-box .box-form .fomulario-contact {
    width: 100%;
  }

  body main #contactArea .contact-box .box-form {
    width: 75%;
  }
}/*# sourceMappingURL=style.css.map */